<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta charset="utf-8">  
    <link rel="stylesheet" type="text/css" media="screen" href="css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css">
    <link rel="stylesheet" type="text/css" media="screen" href="css/grid.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" /> 
    <script src="js/jquery-1.7.1.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/superfish.js"></script>
    <script src="js/jquery.hoverIntent.minified.js"></script>
    <script src="js/jquery.ui.totop.js"></script>  
    <script>
	 $(window).load(function(){
            $().UItoTop({ easingType: 'easeOutQuart' });
		});
    </script>
    <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
    	<link rel="stylesheet" type="text/css" media="screen" href="css/ie.css">
	<![endif]-->
</head>
<body>
<!--==============================header=================================-->
<div class="main">
     <div class="head">	     
         <header>
       <h1><a href="aboutus.html"><strong>Flavorful</strong><span>Kitchen Secrets </span></a></h1>
       <nav> 
        <ul class="sf-menu">
          <div class="user-btn">
            <i class="fa-solid fa-user-large"></i>
          </div>
          <script>
            const loginBtn = document.querySelector(".user-btn");
            loginBtn.onclick=()=>{
                        userBtn.classList.add("active");
              window.location.href="login.html";
            }
          </script>
          
            <li><a href="aboutus.html">About Us</a></li>
             <li><a href="ourrecipeDanBookmark.html">Our Recipes</a>
             </li>
             <li><a href="ourrecipeDanBookmark.html#bookmark-list" id="bookmarks-link">Bookmark</a></li>
         </ul>
       </nav>
       <div class="clear"></div>
      </header>
   </div> 
		<!--==============================content================================-->
<section id="content">         
  <div class="container_24">
    <div class="wrapper bg-wrapper-1">
        <div class="grid_24">
           <h2 class="padd-3">Privacy Policy</h2>
           <span class="bold">Informasi yang Kami Kumpulkan</span>
           <p class="bot-3">Kebijakan privasi ini menjelaskan bagaimana kami mengumpulkan, menggunakan, dan melindungi informasi pribadi <br>Anda saat Anda menggunakan website resep masakan kami.</p>
           
           <span class="bold">Informasi yang Kami Kumpulkan</span>
           <p class="bot-2">Informasi yang Anda berikan: Nama dan informasi pribadi lainnya yang Anda berikan saat membuat akun atau <br>berlangganan buletin kami.</p>
           
           <span class="bold">Bagaimana Kami Menggunakan Informasi Anda</span>
           <p class="bot-3">Kami menggunakan informasi Anda untuk menyediakan layanan kami, seperti memberikan akses ke resep dan memungkinkan Anda membuat akun;<br> Kami menggunakan informasi Anda untuk memahami bagaimana Anda menggunakan website kami dan meningkatkan pengalaman Anda.</p>
           
           <span class="bold">Pembagian Informasi</span>
           <p class="bot-3">Kami tidak membagikan informasi pribadi Anda dengan pihak ketiga tanpa persetujuan Anda. <br>Namun, kami dapat membagikan informasi agregat atau anonim yang tidak mengidentifikasi Anda secara pribadi dengan mitra dan pengiklan kami. </p>
           
           <span class="bold">Perubahan pada Kebijakan Privasi</span>
           <p>Kami dapat memperbarui kebijakan privasi ini dari waktu ke waktu. Setiap perubahan akan diposting di website ini.
            <br>Dengan menggunakan website resep masakan kami, Anda menyetujui pengumpulan, penggunaan, dan pembagian informasi <br>Anda sesuai dengan kebijakan privasi ini. </p>
           
           <a href="#" class="pp">privacy@demolink.org</a>
           
        </div>	   
        <div class="grid_24 bg-bot"></div> 
     </div><!--the end of wrapper-->
  </div>
</section>
	<!--==============================footer=================================-->		
	<footer>
		<div class="main-footer">
	         <div class="container_24">
                   <div class="grid_17">
                      <div class="icons">
                          <span class="facebook">Join Us on <a href="#">Facebook<strong></strong></a></span>
                          <span class="twitter">Join Us on <a href="#">Twitter<strong></strong></a></span>
                      </div>
                   </div>   
		  	       <div class="grid_7"> 
                       <p>Cooking &copy; 2024 | <a href="index-5.html">Privacy policy</a></p>
                   </div>
	          <div class="clear"></div>
	        </div>
        </div>
	</footer>
</div>	
<!--coded by Dok--></body>
</html>